doctype html
html(lang='en')
    head
        title Bootstrap Case
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
        link(rel='stylesheet', href='eventlisting.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK', crossorigin='anonymous')
    body
        nav.navbar.navbar-light.bg-faded(role='navigation')
            .navbar-header
                a.navbar-brand City
                .nav.navbar-nav.float-lg-right
                    a.nav-item.nav-link(href='index.html') home
                    .nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle="dropdown") city
                        .dropdown-menu
                            a.dropdown-item(href="eventlisting.html") Atlanta
                            a.dropdown-item(href="eventlisting.html") Los Angeles
                            a.dropdown-item(href="eventlisting.html") San Francisco
                            a.dropdown-item(href="eventlisting.html") Texas
                    a.nav-item.nav-link(href='contact.html') contact
        #listings-button.dropdown
            button.btn.btn-secondary.btn-lg.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Listings
            #listings-dropdown-menu.dropdown-menu(aria-labelledby="dropdownMenuButton")
                a.dropdown-item(href='') Normal Events
                a.dropdown-item(href='') Recurring Events
                a.dropdown-item(href='') Past Events    
                a.dropdown-item(href='') Events Archive
                a.dropdown-item(href='') Venues List
                a.dropdown-item(href='') Promoter List 
        .table-responsive
            table#main-table.table.table-striped
                thead
                    tr
                        th Date/Time
                        th Event Title @ Venue
                        th Tags
                        th Price | Age
                        th Organizers
                        th Links
                tbody                
                    tr
                        td Fri: Nov 4-Sun: Nov 6 (Fri: 4:20pm-Sun: 4:20 pm)
                        td Wook Season Opener @ TBA
                        td Wook Season Opener @ TBA	drum and bass, jungle, deep house, funky house, dubstep
                        td Free
                        td WOOK
                        td
                    tr
                        td Sat: Nov 5 (5am-12pm)
                        td Bassline Serenade's After Party @ Prunedale
                        td bassline house, drum and bass, trap, dubstep
                        td All ages	
                        td Starlight Productions	
                        td 
