html {
    height: 100%;
    background: url("unsplash-kitsune-4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent;
}

.cover {
    text-align: center;
    text-transform: uppercase;
}

.coverHeader {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
}

.subHeader {
    font-weight: bold;
    color: white;
    background-color: rgba(168, 168, 168, 0.8);
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.btn-primary {
    border: black solid 1px;
    background-color: white;
    color: black;
    transition: .5s;
}

.btn-primary:hover {
    background-color: gray;
    border: white solid 1px;
}

@media (min-width:320px) {
    .coverHeader {
        font-size: 150%;
    }
}

@media (min-width: 680px) {
    .coverHeader {
        font-size: 200%;
    }
}

@media (min-width : 1024px) {
    .cover {
        padding-top: 100px;
    }
    .coverHeader {
        font-size: 300%;
    }

    .btn-primary {
        padding: 10px 100px;
    }
}
