#all-city-info {
    text-align: center;
    margin-top: 100px;

    .row {
        margin: 20px;
    }

    a {
        color: inherit;
        margin: 10px;
    }
}

@media (min-width:320px) {

}

@media (min-width: 680px) {

}

@media (min-width : 1024px) {
    #all-city-info {
        a {
            font-size: 150%;
        }

        .row {
            margin: 80px;
        }
    }
}
